.SocialIcon {
  display: block;
  height: 30px;
  overflow: hidden;
  text-indent: -9999em;
  width: 30px;
  background: no-repeat center center;
}

.SocialIcon-large {
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}

.SocialIcon-faded {
  transition: opacity 500ms linear;
  opacity: 0.3;
}

.SocialIcon-faded:hover {
  opacity: 1;
}

.SocialIcon-twitter {
  background-image: url("images/twitter-circle-30.png");
  background-image: url("images/twitter-circle.svg"), none;
}

.SocialIcon-facebook {
  background-image: url("images/facebook-circle-30.png");
  background-image: url("images/facebook-circle.svg"), none;
}

.SocialIcon-youtube {
  background-image: url("images/youtube-circle-30.png");
  background-image: url("images/youtube-circle.svg"), none;
}

.SocialIcon-google {
  background-image: url("images/google-circle-30.png");
  background-image: url("images/google-circle.svg"), none;
}

.SocialIcon-instagram {
  background-image: url("nib-styles-social-icons/images/instagram-circle-30.png");
  background-image: url("nib-styles-social-icons/images/instagram-circle.svg"), none;
}

/**
 * These are only used on mobile, so we can get away with just using SVGs
 * seeing as we don't need to support IE8
 */

.SocialIcon-twitterWhite {
  background-image: url("images/twitter-circle-white.svg");
}

.SocialIcon-facebookWhite {
  background-image: url("images/facebook-circle-white.svg");
}

.SocialIcon-youtubeWhite {
  background-image: url("images/youtube-circle-white.svg");
}

.SocialIcon-googleWhite {
  background-image: url("images/google-circle-white.svg");
}