
//
// This file contains plain ol' vanilla CSS but is in a SASS file to make inclusion in projects using the old build toolchain easy as pie
// - image paths have been amended to work standalone or in the old build toolchain
//

//----------------------------------------------------------------------------------------------------------------------
// Adjust image paths
//----------------------------------------------------------------------------------------------------------------------

$component-path: null !default;

$image-path: null !default;
@if $component-path == null {
  $image-path: "images" !default;
}
@else {
  $image-path: "#{$component-path}/nib-styles-social-icons/images" !default;
}

@function image-path($path) {
  @return "#{$image-path}/#{$path}";
}

@function image-url($path) {
  @return url(image-path($path));
}

//----------------------------------------------------------------------------------------------------------------------

.SocialIcon {
  display: block;
  height: 30px;
  overflow: hidden;
  text-indent: -9999em;
  width: 30px;
  background: no-repeat center center;
}

.SocialIcon-large {
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}

.SocialIcon-faded {
  transition: opacity 500ms linear;
  opacity: 0.3;
}

.SocialIcon-faded:hover {
  opacity: 1;
}

.SocialIcon-twitter {
  background-image: image-url("twitter-circle-30.png");
  background-image: image-url("twitter-circle.svg"), none;
}

.SocialIcon-facebook {
  background-image: image-url("facebook-circle-30.png");
  background-image: image-url("facebook-circle.svg"), none;
}

.SocialIcon-youtube {
  background-image: image-url("youtube-circle-30.png");
  background-image: image-url("youtube-circle.svg"), none;
}

.SocialIcon-google {
  background-image: image-url("google-circle-30.png");
  background-image: image-url("google-circle.svg"), none;
}

.SocialIcon-instagram {
  background-image: image-url("instagram-circle-30.png");
  background-image: image-url("instagram-circle.svg"), none;
}

/**
 * These are only used on mobile, so we can get away with just using SVGs
 * seeing as we don't need to support IE8
 */

.SocialIcon-twitterWhite {
  background-image: image-url("twitter-circle-white.svg");
}

.SocialIcon-facebookWhite {
  background-image: image-url("facebook-circle-white.svg");
}

.SocialIcon-youtubeWhite {
  background-image: image-url("youtube-circle-white.svg");
}

.SocialIcon-googleWhite {
  background-image: image-url("google-circle-white.svg");
}